<div id="cold_fusion" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Cold Fusion</h3>
  </div>
  <div class="modal-body">
    <p><%= image_tag "ea_images/ruby-on-rails.jpeg" , :style => 'display: block; margin-left: auto; margin-right: auto' %></p>

    <p><b>EA Technology has a deep</b> focus is on <b>Cold fusion</b> technology. We have a rich pool of cold fusion techies. We 
      encourage you to have a glimpse at our rich pool of Cold Fusion <b>TECHIES</b> and let us know your business requirements.</p>
    <p>You may ask for Web, Product development, Maintenance, Support or Migration work using Cold fusion 
      technology. Our Expert techies will keenly look at your requirements and would get back.</p>
    <p><b>What difference we can make?</b></p>
    <ol>
      <li>1. Best Cold fusion resource/s</li>
      <li>2. Full transparency - Audio / Video interview</li>
      <li>3. Onsite / near shore / Offshore</li>
      <li>4. Optimized rates - ask us!</li>
      <li>5. Strong Service level agreement</li>
    </ol>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
