<div id="java" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Java</h3>
  </div>
  <div class="modal-body">
    <p><%= image_tag "ea_images/ruby-on-rails.jpeg" , :style => 'display: block; margin-left: auto; margin-right: auto' %></p>

    <p>At EA Technologies, Java is extensively used. Many of our customers at an enterprise level are on java technologies.
      We have successfully supported them.</p>
    <p><b style="text-decoration:underline;">Skills in Java / J2EE</b></p>
    
      <p><b>Language</b>: Core Java, XML, Javascript, PHP, GWT, Ajax</p>
      <p><b>Technologies / Tools</b>: EJB,  JSP,  Servlets,  JAAS,  JCA,JDBC,  JSTL,  Jax-RPS,  JTA,  HTML,XHTML,   XSL,  XSD  , 
        XML,  XSLT,  SAX,  JAXP,  JNDI,  JMAPI,  RMI,  JFC/Swing,  AWT,  Log4J,Jdom,  AOP,SOA,Web  Services,  Junit  , 
        HttpUnit ,JFCUnit ,Easymock</p> 
      <p><b>Integration</b>: Sun JMS, MSMQ, Web Services, Apache AXIS,  ActiveMQ, ServiceMix, Sonic-ESB , CruiseControl</p>
      <p><b>Framework</b>: Struts, Spring, MVC, Weblogic workshop framework</p>
      <p><b>App Servers</b>: Weblogic, IBM Websphere, Jboss, Apache Tomcat, Jrun, Oracle,  SunOne, iPlanet</p>
      <p><b>Programming and ORM Tools</b>: Eclipse, WSAD, intelliJ, Jbuilder, Netbeans, Visual Age, Hibernate, iBatis</p>
      <p><b>Reporting Tools</b>:  Crystal Report, Pentaho, Jasper, Jreport, iRepor</p>
    
    
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
