<div id="microsoft" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Microsoft</h3>
  </div>
  <div class="modal-body">
    <p >
      <%= image_tag "ea_images/ruby-on-rails.jpeg" , :style => 'display: block; margin-left: auto; margin-right: auto' %>
    </p>

    <p>
      EA Technologies has extensive experience in <b>Microsoft Technologies</b> with following skill sets.
    </p>

    <p>
      We do Application, & Product development, Third party integrations, Creation of web services etc
    </p>
    
    <ol>
      <li><b>Languages</b>: .NET 4.0, .NET 3.5, .NET 3.0, .NET 2.0, .NET 1.1, ASP, VB 6.0, VB.NET, C#, Visual C++</li>
      <li><b>App Servers</b>: Microsoft Office SharePoint Server, Internet Information Server (IIS), Windows Server 2000 /2003, MS Exchange 2003</li>
      <li><b>Databases</b>:  SQL Server 2000/2005/2008 R2, SQL Server Analysis Service, SQL Server Integration Services</li>
      <li><b>Programming Tools</b>: Microsoft Visual studio 2003 /2005 / 2008 / 2010, Expression Blend 3</li>
      <li><b>Technologies</b>: Microsoft .NET, Web Forms, Win Forms, ActiveX, Web, Services, SOAP, Windows Presentation Foundation, (WPF), Sliverlight, XML, UDDI, XSLT, DOM, AJAX, Web 2.0, Java script, VB, Script, COM/DCOM, Microsoft Share Point, Microsoft Dynamics AX/CRM</li>
      <li><b>Messaging</b>: BizTalk 2006, MSMQ</li>
      <li><b>Workflows</b>: Workflow Foundation Classes, BizTalk, Share point portal</li>
      <li><b>Source Control</b>: Team Foundation Server, VSS, CVS, Vault</li>
      <li><b>Unit Testing</b>: NUnit, Nmock, Rhinomock</li>
      <li><b>Reporting</b>: SQL Server 2008 R2 Reporting, SQL Server 2005 Reporting, Crystal Reports</li>
      <li><b>ORM Tool</b>: Nhibernate, LLBGen Pro</li>
    </ol>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
