<div id="mobility" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Mobility</h3>
  </div>
  <div class="modal-body">
    <p >
      <%= image_tag "ea-logo/tech-mobile.png" , :style => 'display: block; margin-left: auto; margin-right: auto' %>
    </p>

    <p>
      EA Technologies provide mobility solutions and have expertise in iPhone/ iPad (iOS), Android, iPad, BlackBerry and Windows Mobile solutions. 
    </p>

    <p>
      <b>Our services for mobile application includes</b>
    </p>
    
    <ol>
      <li>Assimilating business idea, creating wire frames, look and feel, working prototypes and actual business solutions</li>
      <li>Porting of web applications to Mobile platforms</li>
      <li>Productivity apps, utilities and business solutions</li>
      <li>Development to deployment support</li>
      <li>Native and universal apps</li>
      <li>Usage of associated technologies including HTML 5, JavaScript, CSS, jQuery etc</li>
    </ol>
    <p><b>Execution methodology</b></p>
    <p>Prefer <b>Agile</b> methodology using tools such as Pivotal tracker,  Jeera, Lighthouse, Basecamp. Invision apps, Screencast, Proto.io etc</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
