<div id="php" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">PHP</h3>
  </div>
  <div class="modal-body">
    <p >
      <%= image_tag "ea-logo/tech-php.png" , :style => 'display: block; margin-left: auto; margin-right: auto' %>
    </p>

    <p>
     We do bespoke application/product development, support and maintenance work using different frameworks widely available in the industry such as Zend, Symfony, CodeIgniter (CI), YII, CakePHP. Our Technical team is well versed in analyzing project need and extends value added services. This includes help in suggesting content management systems (Drupal, Wordpress, Joomla, or Magento) based on your requirement and technical architecture. 
    </p>

    
    <p><b>Our expertise is in:</b></p>
    <ol>
      <li>LAMP (Linux, Apache, MySQL, and PHP)</li>
      <li>Ajax, Javascript, and jQuery</li>
      <li>Content management systems (Drupal, Wordpress, Joomla, or Magento)</li>
      <li>Portal and dashboard development</li>
      <li>Ecommerce based websites</li>
      <li>Wide experience in different business domains such as Travel and Hospitality, Healthcare, ecommerce, Rea estate, manufacturing)</li>
     </ol>
 
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
