<div id="tibco" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Tibco</h3>
  </div>
  <div class="modal-body">
    <p><%= image_tag "ea_images/ruby-on-rails.jpeg" , :style => 'display: block; margin-left: auto; margin-right: auto' %></p>

    <p><b>TIBCO’s</b> Enterprise Application Integration (EAI) solutions leverage technologies such as Java, Web Services, and 
      TIBCO's own high-performance messaging software to break down barriers between incompatible and distributed 
      applications and databases. TIBCO EAI solutions dynamically transform and intelligently route messages and 
      documents so they get to the right place, at the right time, and in the right format.</p>
    <p>At the core of TIBCO’s product suite are the following:</p>
    
    <table border="1" style="margin-bottom: 24px;">
      <tr>
        <td>TIBCO ActiveMatrix</td>
        <td>TIBCO BusinessEvents</td>
      </tr>
      <tr>
        <td>TIBCO Active Enterprise</td>
        <td>TIBCO Collaborative Information Manager</td>
      </tr>
       <tr>
        <td>TIBCO Silver</td>
        <td>TIBCO Business Studio</td>
      </tr>
      <tr>
        <td>Service Oriented Architecture (SOA)</td>
        <td>Business Process Management (BPM)</td>
      </tr>
      <tr>
        <td>Business Optimization</td>
        <td>Master Data Management (MDM)</td>
      </tr>
      <tr>
        <td>Complex Event Processing</td>
        <td>&nbsp;</td>
      </tr>
    </table>
    
    <p>The TIBCO platform is unique in its ability to seek, understand, and respond to real-time events. This provides 
      comprehensive visibility into trends and opportunities, as well as the intelligence and agility to recognize and instantly 
      react to key events – capturing opportunities and averting risks within ever-shortening time frames.</p>
    
    <p>We are EX- TIBCO consultant/s. Please  feel  free to reach out to us for genuine advice and help.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
