<div id="ux" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">UX</h3>
  </div>
  <div class="modal-body">
    <p><%= image_tag "ea_images/ruby-on-rails.jpeg" , :style => 'display: block; margin-left: auto; margin-right: auto' %></p>

    <p><b>"We maintain the proper balance between the User, Business & Technology”</b></p>
    <p>We believe:</p>
    <p>A.'Good usability makes it work’.<br/>
       B.'An engaging interface makes it persuasive’.</br>
       C.‘Focused branding makes it desirable’</p> 
    <p><b>The success of any software product</b> mainly lies with an application that provides total user 
      experience through various mediums of intuitive human-computer interface dedicated to key task,
      with sleek aesthetic design and pleasing effects for end users.</p>
    <p>Team at EA Technologies design optimal user experience for digital products and they comprise of</p>
    <ol>
      <li>Usability Analyst,</li>
      <li>Information Architect,</li>
      <li>Interaction Designer,</li>
      <li>Visual Communication Designer, and</li>
      <li>UI Engineers</li>
    </ol>
    <p>All of above come with proven expertise in <b>blending</b> technology with creativity resulting in eyecatching, 
      artistic visual designs which meet universal usability standards. They translate technical 
      functions to create intuitive, interactive and engaging designs mitigating the technology effect.</p>
    
    <p>Our UX design team offers entire range of user interface design across various devices and user touch points:</p>
    
    <ul>
      <li>Web & Enterprise Portals,</li>
      <li>E-commerce / M - commerce</li>
      <li>Software Application & Interactive Product,</li>
      <li>Mobile & Tablets Applications, and</li>
      <li>Social Media interactive websites and</li>
      <li>Software products.</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
