<div style="background-position: 0px 0px;" class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
  <div class="container clearfix">

    <div id="content" class="grid_12">
      <h3><span>About</span></h3>
      <h4 style="font-style: normal; font-family: 'Arial',sans-serif;">EA Technologies, a Florida based firm, was founded in early 2004 as a result of changing factors steering the course of IT organizations across the country. With a broad service offering and a determination to raise the bar of consulting expectations, EA Technologies has been well received and continues to grow quickly. EA Technologies offers solutions and professional services to those interested in bringing their organizations into the 21st century and using new technologies throughout.</h4>
    </div>
    <div id="content" class="grid_7">
      <p>What we are doing at a moment?</p>
      <p><b>IT Consultancy:</b> We do IT projects and are acknowledging more and more AGILE based methodology. We feel that “Nothing should be blackbox”. Our customers should be able to speak/see with our consultants and work in tandem. Our customers have trusted us with outcome based projects model and some of our customers challenged us with productivity linked model  (timesheets based on output). </p>
      <p><b>Delivery model:</b></p>
      <ul>
        <li> Fixed cost projects </li>
        <li>Time and material based projects:</li>
        <li>Outcome based projects</li>
        <li> Productivity linked projects</li>
      </ul>
      
    </div>
    <div id="content" class="grid_5 omega">
      <div id="jcarousel">
        <div class=" jcarousel-skin-tango">
          <div style="position: relative; display: block;" class="jcarousel-container jcarousel-container-horizontal">
            <div style="position: relative; padding-bottom: 10px !important;" class="jcarousel-clip jcarousel-clip-horizontal">
              <p><b style="color:blue;">Mission Statement</b></p>
              <p>In today's industry, change in technology is a common occurrence. EA Technologies is committed to excellence and professionalism in this ever changing industry. Many claim to hold the key to a successful Enterprise Solution, but only EA Technologies knows where it can lead and can provide the leadership to get there.</p>
              <p><b>Local Staffing:</b></p>
              <p>We have a superb recruitment engine in place and are working currently with many companies. This includes fortune 500 to various sized startup companies. We do full time placements, Corp-to-corp and temp to hire. Our working model is based on utmost transparency</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div id="content" class="grid_12">
      <h5><span>meet the team</span></h5>
    </div>
    <div class="clear"></div>

    <div class="grid_3 team_block">
      <a href="#"><img src="STUDIO27%20-%20Photographer%20Website_files/team1.jpg"></a>
      <div class="team_inf">
        <h4>peter smith</h4>
        <p>Photographer</p>
        Integer aliquet arcu sit amet sem porta facilisis. Curabitur sapien sapien, blandit in
        <ul class="team_soc">
          <li><a href="#" class="soc1"></a></li>
          <li><a href="#" class="soc2"></a></li>
          <li><a href="#" class="soc3"></a></li>
          <li><a href="#" class="soc4"></a></li>
        </ul>
      </div>
    </div>
    <div class="grid_3 team_block">
      <a href="#"><img src="STUDIO27%20-%20Photographer%20Website_files/team2.jpg"></a>
      <div class="team_inf">
        <h4>Chris doe</h4>
        <p>Photographer</p>
        Integer aliquet arcu sit amet sem porta facilisis. Curabitur sapien sapien, blandit in
        <ul class="team_soc">
          <li><a href="#" class="soc1"></a></li>
          <li><a href="#" class="soc2"></a></li>
          <li><a href="#" class="soc3"></a></li>
          <li><a href="#" class="soc4"></a></li>
        </ul>
      </div>
    </div>
    <div class="grid_3 team_block">
      <a href="#"><img src="STUDIO27%20-%20Photographer%20Website_files/team3.jpg"></a>
      <div class="team_inf">
        <h4>sarah brown</h4>
        <p>Photographer</p>
        Integer aliquet arcu sit amet sem porta facilisis. Curabitur sapien sapien, blandit in
        <ul class="team_soc">
          <li><a href="#" class="soc1"></a></li>
          <li><a href="#" class="soc2"></a></li>
          <li><a href="#" class="soc3"></a></li>
          <li><a href="#" class="soc4"></a></li>
        </ul>
      </div>
    </div>
    <div class="grid_3 team_block omega">
      <a href="#"><img src="STUDIO27%20-%20Photographer%20Website_files/team4.jpg"></a>
      <div class="team_inf">
        <h4>Janice Baxter</h4>
        <p>Photographer</p>
        Integer aliquet arcu sit amet sem porta facilisis. Curabitur sapien sapien, blandit in
        <ul class="team_soc">
          <li><a href="#" class="soc1"></a></li>
          <li><a href="#" class="soc2"></a></li>
          <li><a href="#" class="soc3"></a></li>
          <li><a href="#" class="soc4"></a></li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>