<div class="row slide" id="slide10" data-slide="10" data-stellar-background-ratio="0.5">
  <div class="span12">

    <div class="image-center" style="width: 367px;height: 104px;">
      <img src="/assets/ea-logo/contact-logo.png" alt="" />
    </div>

    <div class="row">
      
      <div class="span4" style="width: 350px; height: 350px;">
        <iframe style="width: 350px; height: 350px;"  scrolling="no"  frameborder="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=regus+sector+16a+noida&amp;aq=&amp;sll=28.566297,77.315592&amp;sspn=0.001647,0.00327&amp;ie=UTF8&amp;hq=regus&amp;hnear=Sector+16A,+Noida,+Gautam+Buddh+Nagar,+Uttar+Pradesh,+India&amp;t=m&amp;ll=28.566243,77.315533&amp;spn=0.010151,0.006295&amp;output=embed" marginwidth="0" marginheight="0"></iframe>
      </div>
      <div class="span2" style="background-color: black; color: white; width: auto; margin-left: 0px; padding: 8px;">
        <address style="font-size:15px;">
          <strong style="font-size:23px;">NEW DELHI,INDIA</strong><br>
          5<sup>th</sup> Floor, SB Tower,<br>
          Sector-16A, Noida&ndash; 201301O.<br>
          <abbr title="Phone">P:</abbr>+91 882.6680.644
        </address>
      </div>
      
      <div class="span4" style="width: 350px; height: 350px;">
        <iframe style="width: 350px; height: 350px;"  scrolling="no"  frameborder="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=18503+Pines+Blvd.+Suite+315+Pembroke+Pines,+FL++33029O&amp;aq=&amp;sll=26.010799,-80.395997&amp;sspn=0.001685,0.00327&amp;ie=UTF8&amp;hq=&amp;hnear=18503+Pines+Blvd+%23315,+Pembroke+Pines,+Broward,+Florida+33029&amp;t=m&amp;z=14&amp;ll=26.010799,-80.395997&amp;output=embed" marginwidth="0" marginheight="0"></iframe>
      </div>
      <div class="span2" style="background-color: black; color: white; width: auto; margin-left: 0px; padding: 8px;">
        <address style="font-size:15px;">
          <strong style="font-size:23px;">MIAMI,FL</strong><br>
          18503 Pines Blvd. Suite 315<br>
          Pembroke Pines, FL  33029O.<br>
          <abbr title="Phone">P:</abbr>408.850.0236 | F. 954-212-0221
        </address>
      </div>


      
    </div>
  </div>
</div>