<div style="background-position: 0px -2591.27px;" class="slide" id="slide10" data-slide="10" data-stellar-background-ratio="0.5">
  <div class="container clearfix">

    <div id="content" class="grid_12">
      <h3><span>contact</span></h3>
      <h4>Proin eu libero id erat accumsan vehicula ut in diam. Nunc 
        feugiat tempor orci id viverra. Sed et neque quam. Maecenas posuere 
        sapien at ante accumsan blandit commodo velit volutpat. Vestibulum ante 
        ipsum primis in faucibus orci luctus et ultrices posuere</h4>
    </div>


    <div class="content-part-main-box">
      <div >
        <div style="width:48%;float:left; margin-right: 25px;">
          <h1>Miami, FL</h1>
          <p>18503 Pines Blvd. Suite 315<br>Pembroke Pines, FL  33029O.<br> 408.850.0236 | F. 954-212-0221<br>
            <iframe  scrolling="no" height="250" frameborder="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=18503+Pines+Blvd.+Suite+315+Pembroke+Pines,+FL++33029O&amp;aq=&amp;sll=26.010799,-80.395997&amp;sspn=0.001685,0.00327&amp;ie=UTF8&amp;hq=&amp;hnear=18503+Pines+Blvd+%23315,+Pembroke+Pines,+Broward,+Florida+33029&amp;t=m&amp;z=14&amp;ll=26.010799,-80.395997&amp;output=embed" marginwidth="0" marginheight="0"></iframe></p>
          <hr>
        </div>
        <div style="width:48%;float:left;">
          <h1>New Delhi, India</h1>
          <p>5<sup>th</sup> Floor, SB Tower,<br>Sector-16A, Noida&ndash; 201301O.<br> +91 882.6680.644<br>
            <iframe  scrolling="no" height="250" frameborder="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=regus+sector+16a+noida&amp;aq=&amp;sll=28.566297,77.315592&amp;sspn=0.001647,0.00327&amp;ie=UTF8&amp;hq=regus&amp;hnear=Sector+16A,+Noida,+Gautam+Buddh+Nagar,+Uttar+Pradesh,+India&amp;t=m&amp;ll=28.566243,77.315533&amp;spn=0.010151,0.006295&amp;output=embed" marginwidth="0" marginheight="0"></iframe>
          </p>
        </div>
      </div>



    </div>


    <div class="clear"></div>
    <div id="contact_block_rel">
      <div class="grid_5">
        <div class="contact_form">  
          <div id="note"></div>
          <div id="fields">
            <form id="ajax-contact-form" action="">
              <input name="name" placeholder="Name" type="text">
              <input name="subject" placeholder="Phone" type="text">
              <input name="email" placeholder="Email" type="text">
              <textarea name="message" id="message" placeholder="Message"></textarea>
              <div class="clear"></div>
              <input class="contact_btn" value="Clear form" type="reset">
              <input class="contact_btn" value="Send" type="submit">
              <div class="clear"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="grid_4 contact_det_block">
        <h5>contact details</h5>
        <p>Ut tincidunt, erat eu pulvinar molestie, justo nisl pharetra 
          erat, sit amet malesuada diam turpis cursus mauris. Donec ac tempor 
          libero.</p>
        <p>Proin sit amet sollicitudin ante. Donec sodales, metus non congue
          aliquam, neque mauris suscipit sapien, a ultrices lectus mauris vel 
          ipsum. Cras</p>
        <ul class="foot_block_intouch">
          <li class="touch_phone"><p>(+1) 245 5462 252</p></li>
          <li class="touch_clock"><p>Mon - Sat 9:00am - 6:00 pm</p></li>
          <li class="touch_mail"><a href="mailto:support@lorem.com">support@lorem.com</a></li>
          <li class="touch_site"><a href="#">www.lorem.com</a></li>
          <li class="touch_adress"><p>3301 Lorem Ipsum, Dolor Sit Amet St</p></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>


</div>
