<div class="row">
  <div class="span12 slide"  id="slide4" data-slide="4" data-stellar-background-ratio="0.5">
    <div class="header-center">
      <h3><img src="/assets/ea-logo/ea-big-icon.png" alt="" />INDUSTRIES</h3>
    </div>
  </div>
</div>

<div class="row" >
  <div class="span12">
    <p>Cras urna leo, fringilla nec aliquam ac, varius in enim. Maecenas
      non felis augue, quis sagittis justo. Donec gravida, arcu in aliquet 
      convallis, purus lectus euismod nulla, in porttitor lorem ligula nec 
      metus. Curabitur sit amet metus quis arcu pharetra hendrerit.</p>
  </div>
</div>



<div class="row">
  <div class="span3">
    <div class="image-center">
    <a href="#" class="thumbnail">
      <img src="/assets/ea-logo/indus-fnb.png" alt="">
    </a>
    <h5>FINANCE & BANKING</h5>
    </div>
  </div>

  <div class="span3">
    <div class="image-center">
    <a href="#" class="thumbnail">
      <img src="/assets/ea-logo/indus-hc.png"  width="100%" height="100%" alt="">
    </a>
    <h5>HEALTH CARE</h5>
    </div>
  </div>

  <div class="span3">
    <div class="image-center">
    <a href="#" class="thumbnail">
      <img src="/assets/ea-logo/indus-tnh.png"  width="100%" height="100%" alt="">
    </a>
    <h5>TRAVEL & HOSPITALITY</h5>
    </div>
  </div>

  <div class="span3">
    <div class="image-center">
    <a href="#" class="thumbnail">
      <img src="/assets/ea-logo/indus.png"  width="100%" height="100%" alt="">
    </a>
    <h5>UT LUCTUSMAGNA NON</h5>
    </div>
  </div>

</div>







<div class="row">
  <div class="span12">
    <p style="border: 1px solid #c0b2b2; margin: 61px 0 -19px 0;"></p>
  </div>  
</div>
