<div class="row">
  <div class="span12 slide"  id="slide4" data-slide="4" data-stellar-background-ratio="0.5">



    <div id="content" class="grid_12">
      <h3><span>Industries</span></h3>
      <h4>Cras urna leo, fringilla nec aliquam ac, varius in enim. Maecenas
        non felis augue, quis sagittis justo. Donec gravida, arcu in aliquet 
        convallis, purus lectus euismod nulla, in porttitor lorem ligula nec 
        metus. Curabitur sit amet metus quis arcu pharetra hendrerit. Nulla at 
        tempus</h4>
    </div>

    <div class="row" >
      <div class="span12">
        <div id="options">
          <ul class="nav" id="filters"  data-option-key="filter">
            <li><a href="#filter" data-option-value="*" >All</a></li>
            <li><a href="#filter" data-option-value=".category01">web design</a></li>
            <li><a href="#filter" data-option-value=".category02">graphic design</a></li>
            <li><a href="#filter" data-option-value=".category03">motion Graphics</a></li>
            <li><a href="#filter" data-option-value=".category04">artwork</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- portfolio_block -->

      <div class="span3"  data-category="category01">
        <div id="fancybox-manual-a" class="hover_img" >
          <img src="STUDIO27%20-%20Photographer%20Website_files/1.jpg" alt="">

          <span class="portfolio_link"><a >View item</a></span>
        </div> 
        <div class="item_description">
          <h6>Ut luctus magna non</h6>
          web design
        </div>
      </div>

      <div class="span3"  data-category="category02">
        <div class="hover_img">
          <img src="STUDIO27%20-%20Photographer%20Website_files/2.jpg" alt="">

          <span class="portfolio_link"><a href="#">View item</a></span>
        </div> 
        <div class="item_description">
          <h6>Nullam ac urna id</h6>
          web design
        </div>
      </div>

      <div class="span3" data-category="category03">
        <div class="hover_img">
          <img src="STUDIO27%20-%20Photographer%20Website_files/3.jpg" alt="">

          <span class="portfolio_link"><a href="#">View item</a></span>
        </div> 
        <div class="item_description">
          <h6>viverra a egestas nisl</h6>
          web design
        </div>
      </div>

      <div class="span3" data-category="category04">
        <div class="hover_img">
          <img src="STUDIO27%20-%20Photographer%20Website_files/4.jpg" alt="">

          <span class="portfolio_link"><a href="#">View item</a></span>
        </div> 
        <div class="item_description">
          <h6>Sed fringilla nisl ac</h6>
          web design
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span3"  data-category="category01">
        <div class="hover_img">
          <img src="STUDIO27%20-%20Photographer%20Website_files/5.jpg" alt="">

          <span class="portfolio_link"><a href="#">View item</a></span>
        </div> 
        <div class="item_description">
          <h6>est tempus convallis</h6>
          web design
        </div>
      </div>

      <div class="span3" data-category="category02">
        <div class="hover_img">
          <img src="STUDIO27%20-%20Photographer%20Website_files/6.jpg" alt="">

          <span class="portfolio_link"><a href="#">View item</a></span>
        </div> 
        <div class="item_description">
          <h6>Proin eget justo nisl</h6>
          web design
        </div>
      </div>

      <div class="span3" data-category="category03">
        <div class="hover_img">
          <img src="STUDIO27%20-%20Photographer%20Website_files/7.jpg" alt="">

          <span class="portfolio_link"><a href="#">View item</a></span>
        </div> 
        <div class="item_description">
          <h6>a pellentesque sem</h6>
          web design
        </div>
      </div>

      <div class="span3" data-category="category04">
        <div class="hover_img">
          <img src="STUDIO27%20-%20Photographer%20Website_files/8.jpg" alt="">

          <span class="portfolio_link"><a href="#">View item</a></span>
        </div> 
        <div class="item_description">
          <h6>Nulla mollis</h6>
          web design
        </div>
      </div>

      <!-- //portfolio_block -->   
    </div>


  </div>


</div>

