<div class="row">
  <div class="span12 slide"  id="slide4" data-slide="4" data-stellar-background-ratio="0.5">
    <div class="image-center" style="width: 367px;">
      <img src="/assets/ea-logo/indust-logo.png" alt="" />
    </div>
  </div>
</div>

<div class="row" >
  <div class="span12">
    <p>Cras urna leo, fringilla nec aliquam ac, varius in enim. Maecenas
      non felis augue, quis sagittis justo. Donec gravida, arcu in aliquet 
      convallis, purus lectus euismod nulla, in porttitor lorem ligula nec 
      metus. Curabitur sit amet metus quis arcu pharetra hendrerit. Nulla at 
      tempus</p>
  </div>
</div>

<div class="row" >
  <div class="span12">
    <div id="options">
      <ul class="nav nav-pills" id="filters"  data-option-key="filter">
        <li class="active"><a href="#filter" data-option-value="*" >All</a></li>
        <li class="active"><a href="#filter" data-option-value=".category01">Web Design</a></li>
        <li class="active"><a href="#filter" data-option-value=".category02">Graphic Design</a></li>
        <li class="active"><a href="#filter" data-option-value=".category03">Motion Graphics</a></li>
        <li class="active"><a href="#filter" data-option-value=".category04">Art Work</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="row" style="margin: 10px 0 10px 0;">
  <div class="span3" data-category="category01">
    <a href="#" class="thumbnail">
      <img src="/assets/ea-logo/indus.png" alt="">
    </a>
    <h5 style="float:right;">UT LUCTUSMAGNA NON</h5>
    <br/><br/>
    <p style="border: 1px solid #c0b2b2;"></p>
    <span style="float:right; background-color: #c0b2b2; padding: 4px 5px; margin-top: -10px;">Web Design</span>
  </div>

  <div class="span3" data-category="category02">
    <a href="#" class="thumbnail">
      <img src="/assets/ea-logo/indus.png" alt="">
    </a>
    <h5 style="float:right;">UT LUCTUSMAGNA NON</h5>
    <br/><br/>
    <p style="border: 1px solid #c0b2b2;"></p>
    <span style="float:right; background-color: #c0b2b2; padding: 4px 5px; margin-top: -10px;">Web Design</span>
  </div>

  <div class="span3" data-category="category03">
    <a href="#" class="thumbnail">
      <img src="/assets/ea-logo/indus.png" alt="">
    </a>
    <h5 style="float:right;">UT LUCTUSMAGNA NON</h5>
    <br/><br/>
    <p style="border: 1px solid #c0b2b2;"></p>
    <span style="float:right; background-color: #c0b2b2; padding: 4px 5px; margin-top: -10px;">Web Design</span>
  </div>

  <div class="span3" data-category="category04">
    <a href="#" class="thumbnail">
      <img src="/assets/ea-logo/indus.png" alt="">
    </a>
    <h5 style="float:right;">UT LUCTUSMAGNA NON</h5>
    <br/><br/>
    <p style="border: 1px solid #c0b2b2;"></p>
    <span style="float:right; background-color: #c0b2b2; padding: 4px 5px; margin-top: -10px;">Web Design</span>
  </div>

</div>




<div class="row" style="margin: 50px 0 10px 0;">
  <div class="span3" data-category="category01">
    <a href="#" class="thumbnail">
      <img src="/assets/ea-logo/indus.png" alt="">
    </a>
    <h5 style="float:right;">UT LUCTUSMAGNA NON</h5>
    <br/><br/>
    <p style="border: 1px solid #c0b2b2;"></p>
    <span style="float:right; background-color: #c0b2b2; padding: 4px 5px; margin-top: -10px;">Web Design</span>
  </div>

  <div class="span3" data-category="category02">
    <a href="#" class="thumbnail">
      <img src="/assets/ea-logo/indus.png" alt="">
    </a>
    <h5 style="float:right;">UT LUCTUSMAGNA NON</h5>
    <br/><br/>
    <p style="border: 1px solid #c0b2b2;"></p>
    <span style="float:right; background-color: #c0b2b2; padding: 4px 5px; margin-top: -10px;">Web Design</span>
  </div>

  <div class="span3" data-category="category03">
    <a href="#" class="thumbnail">
      <img src="/assets/ea-logo/indus.png" alt="">
    </a>
    <h5 style="float:right;">UT LUCTUSMAGNA NON</h5>
    <br/><br/>
    <p style="border: 1px solid #c0b2b2;"></p>
    <span style="float:right; background-color: #c0b2b2; padding: 4px 5px; margin-top: -10px;">Web Design</span>
  </div>

  <div class="span3" data-category="category04">
    <a href="#" class="thumbnail">
      <img src="/assets/ea-logo/indus.png" alt="">
    </a>
    <h5 style="float:right;">UT LUCTUSMAGNA NON</h5>
    <br/><br/>
    <p style="border: 1px solid #c0b2b2;"></p>
    <span style="float:right; background-color: #c0b2b2; padding: 4px 5px; margin-top: -10px;">Web Design</span>
  </div>

</div>



<div class="row">
  <div class="span12">
    <p style="border: 1px solid #c0b2b2; margin: 61px 0 -19px 0;"></p>
    </div>  
  </div>
  