
<div style="background-position: 0px -1943.27px;" class="slide" id="slide6" data-slide="6" data-stellar-background-ratio="0.5">
  <div class="container clearfix">

    <div id="content" class="grid_12">
      <h3><span>services</span></h3>
      <h4>Nullam luctus lacus in massa feugiat venenatis. Morbi a lorem mauris. Nam egestas ligula dignissim justo ullamcorper viverra.</h4>
    </div>
    <div class="clear"></div>
    <div class="grid_6">
      <a id="fancybox-manual-b" href="javascript:;" class="serv_inf">
        <img class="serv_icon" src="/assets/rails.png">
        <img class="serv_icon_h" src="/assets/rails.png">
        <p>ios development</p>
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
        posuere cubilia Curae; Phasellus tempor ipsum vel sapien mattis
        <div class="clear"></div>
      </a>
    </div>
    <div class="grid_6 omega">
      <a class="serv_inf">
        <img class="serv_icon" src="/assets/rails.png">
        <img class="serv_icon_h" src="/assets/rails.png">
        <p>Ruby on Rails</p>
        Nulla eu dolor mauris. Aliquam dignissim quam a massa mattis id 
        sagittis ipsum faucibus. Nullam cursus pellentesque fermentum. 
        Suspendisse
        <div class="clear"></div>
      </a>
    </div>
    <div class="grid_6">
      <a href="#" class="serv_inf">
        <img class="serv_icon" src="STUDIO27%20-%20Photographer%20Website_files/icon3.png">
        <img class="serv_icon_h" src="STUDIO27%20-%20Photographer%20Website_files/icon3_h.png">
        <p>UX</p>
        Nullam cursus pellentesque fermentum. Suspendisse consequat elit malesuada metus cursus tristique. Integer in sapien eu elit
        <div class="clear"></div>
      </a>
    </div>
    <div class="grid_6 omega">
      <a href="#" class="serv_inf">
        <img class="serv_icon" src="STUDIO27%20-%20Photographer%20Website_files/icon4.png">
        <img class="serv_icon_h" src="STUDIO27%20-%20Photographer%20Website_files/icon4_h.png">
        <p>PHP</p>
        Nullam cursus pellentesque fermentum. Suspendisse consequat elit malesuada metus cursus tristique. Integer in sapien eu elit
        <div class="clear"></div>
      </a>
    </div>
    <div class="clear"></div>

  </div>
</div>