<div class="row">
  <div class="span12">
    <div style="background-position: 0px -439px; padding:90px 0 0 0;" class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">



      
        <h3 style=" text-align:center;">IT Excellence</h3>
        <p><span class="info">With Honesty & Integrity</span></p>
        <div class="row">
          <div class="span12">

            <ul class="thumbnails"  id="bannerslide">
              <li class="span12">
                <a href="#" class="thumbnail">
                  <img src="/assets/banner/bannerImg02.png"   >
                </a>
              </li>
              <li class="span12">
                <a href="#" class="thumbnail">
                  <img src="/assets/banner/bannerImg01.png"  >
                </a>
              </li>
              <li class="span12">
                <a href="#" class="thumbnail">
                  <img src="/assets/banner/bannerImg01_option02.png"  >
                </a>
              </li>
              <li class="span12">
                <a href="#" class="thumbnail">
                  <img src="/assets/banner/bannerUI.png"  >
                </a>
              </li>
            </ul>
           
          </div>
        </div>

 



    </div>
  </div>
</div>

<%= render "about" %>





<%= render "industries" %>




<%= render "technologies" %>




<%= render "contact" %>
