<div class="row">
  <div class="span12">
    <div style="background-position: 0px -439px; t" class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
      <div class="effect_2 padding_slide1">
        <div class="container clearfix">

          <div style=" text-align:justify;">
          <h1 style=" text-align:center;">IT Excellence</h1>
          <p><span class="info">With Honesty & Integrity</span></p>
          
          <h2 style=" text-align:center;" >
            We do TIBCO, Ruby on Rails, HTML5, Node.js, PHP, Java, DotNet, Cold fusion, IOS, Android related web & mobile development
          </h2>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<%= render "about" %>





<%= render "industries" %>




<%= render "technologies" %>




<%= render "contact" %>
