<div style="height: 500px; overflow:visible; ">
  <p >
    <%= image_tag "ea_images/ruby-on-rails.jpeg", :size => "600x150" , :style => 'display: block; margin-left: auto; margin-right: auto' %>
  </p>

<p>
  <b>About Ruby On Rails: Ruby on Rails</b>, often shortened to <b>Rails</b>, is an full-stack Ruby programming language. 
  Ruby on Rails is not to be confused with Ruby, which is a general-purpose software engineering 
  Active record pattern,  and <i>Model-View-Controller</i>.
</p>

<p>
  <b>Interesting fact:</b> In 2011, Gartner Research noted that despite criticisms and comparisons to Java, many high-profile consumer web firms are using Ruby on Rails to build Basecamp. As of February 2012, it is estimated that over 235,000 web sites are running Ruby on Rails.
</p>
<p><b>What we offer?</b></p>
<ol>
  <li>Managed project services</li>
  <li>Expert Ruby on rails software developers</li>
  <li>Flexibility to hire resources  - Part / Full time</li>
  <li>Resources at cusotmer place  / Telecommute / Work from home</li>
  <li>Productivity linked time sheets in case of remote workers</li>
  <li>Global project Management services (Optional)</li>
  <li>Resouce loading as per the need of business</li>
  <li>Testers and User interface experts for all kind of web applications</li>
</ol>
<p><b>What our Techies use?</b></p>
<ul>
  <li>Ruby on Rails</li>
  <li>MySQL</li>
  <li>Resque</li>
  <li>Redis</li>
  <li>MongoDB</li>
  <li>Apache Solr</li>
  <li>CoffeeScript and jQuery</li>
  <li>Github</li>
  <li>Haml</li>
  <li>Sass</li>
  <li>jQuery</li>
  <li>CoffeeScript</li>
  <li>Pivotal</li>
  <li>Heroku and much more!</li>
</ul>
</div>
