<div id="web-design" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<p>Web design is nothing but designing the page</p>
<p>Web design is nothing but designing the page</p>
<p>Web design is nothing but designing the page</p>
<p>Web design is nothing but designing the page</p>
<p>Web design is nothing but designing the page</p>
<p>Web design is nothing but designing the page</p>
<p>Web design is nothing but designing the page</p>
<p>Web design is nothing but designing the page</p>
<p>Web design is nothing but designing the page</p>
<p>Web design is nothing but designing the page</p>
<p>Web design is nothing but designing the page</p>
<p>Web design is nothing but designing the page</p>
<p>Web design is nothing but designing the page</p>
<p>Web design is nothing but designing the page</p>
<p>Web design is nothing but designing the page</p>
  
</div>
