/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


/* Global */





/* General Slides */ 

.slide{
    background-attachment: fixed;
    width:100%;
    height:auto;
    position: relative;
    padding:0;
}


/* ____________________________________ Slide 1 ____________________________________ */ 


#bannerslide li{
    height: 500px;
}


/* ____________________________________ Slide 2 ____________________________________ */ 

#slide2{
    padding:90px 0 0 0;
}



/* _______________ CAROUSEL _______________ */

/* _______________ //team_block ________________ */

/* ____________________________________ Slide 3 ____________________________________ */ 

#slide3{
    background-image:url(../images/slide3_bg.jpg);
    background-size: cover !important;
    width:100%;
    background-position:0 0 !important;
    text-align:center;
}
.padding_slide3 {
    padding:83px 0 78px 0;
}
#slide3 p {
    padding:0 0 29px 0;
    margin:0;
    text-transform:uppercase;
    font-family:'Open Sans';
    font-size: 56px;
    line-height: 52px;
    color:#343434;
    font-weight: 800;
}




/* ____________________________________ Slide 4 ____________________________________ */

#slide4{
    background:url(../images/main_bg.jpg) repeat left top;
    padding:90px 0 0 0 ;
}

/* _________________ PORTFOLIO ________________ */

#slide4 ul{
    margin:0 0 29px 0;
    padding:0;
    list-style-type:none;
}

#slide4 .hover_img {
    height:187px;
    text-align:center;
}

.hover_img {
    position:relative;
    background:#000;
    z-index:99;
}

.hover_img:hover .portfolio_zoom, .hover_img:hover .portfolio_link { display:block;
}

.item_description {
    padding:0 0 7px 0;
    background:#fff;
    border-top:1px solid #fff;
    border-right:1px solid #dedede;
    border-bottom:1px solid #dedede;
    border-left:1px solid #dedede;
    text-align: center;
    font-family:'Open Sans';
    font-weight:300;
    font-style:italic;
    font-size:14px;
    color:#969696;
}

.item_description h6 {
    margin:0 0 6px 0;
    border-bottom:1px dotted #ddd;
    text-transform:uppercase;
    font-style:normal;
    color: #343434;
    font-weight:400;
    font-size: 16px;
    line-height:37px;
}
.projects .grid_3:hover h6 {
    color:#82b501;
}
.projects .grid_3:hover .item_description {
    border-top:1px solid #82b501;
}
/* _________ FILTER ________ */


/* Portfolio */

/**** Isotope Filtering ****/
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
.element {
    overflow: hidden;
    position: relative;
}
.element img {max-width:100%;
}

/* ________ //FILTER _______ */

/* ________________ //PORTFOLIO _______________ */


/* ____________________________________ Slide 5 ____________________________________ */ 
.padding_slide5 {
    padding:238px 0 259px;
}
#slide5{
    background-image:url(../images/slide5_bg.jpg);
    background-position:0 0 !important;
    text-align:center;
    background-size: cover !important;
    width:100%;
}

#slide6{
    background:url(../images/main_bg.jpg) repeat;
    padding:90px 0 0 0;
}

/* ________ serv_inf _______ */


/* ____________________________________ Slide 7 ____________________________________ */ 
.padding_slide7 {
    padding:219px 0 205px;
}
#slide7{
    background-image:url(../images/slide7_bg.jpg);
    background-position:0 0 !important;
    text-align:center;
    background-size: cover !important;
    width:100%;
}


/* ___________________________________ //Slide 7 ___________________________________ */ 




/* ____________________________________ Slide 10 ____________________________________ */

#slide10{
    background:url(../images/main_bg.jpg) repeat;
    padding:90px 0 0 0;
    position:relative;
}



/* ____________________________________ FOOTER ____________________________________ */
#footer {
    border-top: 1px solid #c0b2b2;
    position:relative;
    z-index:101;
    bottom:-162px;
    padding:27px 0 23px;
}
.copyright {
    float:left;
    font-family:'Open Sans';
    font-weight:400;
    color: #a43a3a;
}
.copyright a {
    color: #a43a3a;
}
.copyright a:hover{ 
    color: #a43a3a;
    text-decoration:none;
    background-color: white;
}

/* _____________ BACK_TOP ___________ */
#back_top {
    float:right;
}
#back_top a.button {
    cursor:pointer;
    display:block;
    text-transform:uppercase;
    padding-right:28px;
    background:url(../images/back_top_bg.png) no-repeat top right;
    font-family:'Open Sans';
    font-weight:400;
    height:19px;
    color:#979797;
}


figure {
    margin: 0;
}


textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}




.content-part-main-box {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    color: #030406;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 13px;
    padding-right: 0;
    padding-top: 10px;
    text-align: justify;
    width: 100%;
}


.fancybox-custom .fancybox-skin {
    box-shadow: 0 0 50px #222;
}


.image {
    width: 100%; /* for IE 6 */
}
.image-center{
    width:100%;
    margin:auto;
    position: relative; 
}

.image-center-banner{
    width:100%;
    margin:auto;
    position: relative; 
}
.image-center-banner img{
    width: 100%;
    height: 100%;
}
.slide-content{width: 100%;}
.transparent { 

    opacity: 0.5;
    position: absolute; 
    bottom:  10px; 
    left: 107px; 
    width: 251px; 
    height:200px;
}
.transparent2{
    opacity: 0.5;
    position: absolute;
    left: 0; 
    bottom: 0px; 
    width: 100%; 
    height: 10px;
}

.mess{
    position: absolute; 
    bottom:  10px; 
    left: 107px; 
    width: 251px; 
}
.mess p { 
    opacity: 1;
    font-weight: bold;
    color: white; 
    padding: 10px;
    font-size: 21px;
}