/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/



.slide{
    background-attachment: fixed;
    height:auto;
    position: relative;
}

#slide2{
    padding:90px 0 0 0;
}

#slide3{
    background-size: cover !important;
    width:100%;
    background-position:0 0 !important;
    text-align:center;
}

#slide4{
    padding:90px 0 0 0 ;
}

.padding_slide5 {
    padding:238px 0 259px;
}
#slide5{
    background-position:0 0 !important;
    text-align:center;
    background-size: cover !important;
    width:100%;
}

#slide6{
    padding:90px 0 0 0;
}


.padding_slide7 {
    padding:219px 0 205px;
}
#slide7{
    background-position:0 0 !important;
    text-align:center;
    background-size: cover !important;
    width:100%;
}

#slide10{
    padding:90px 0 0 0;
    position:relative;
}


#footer {
    border-top: 1px solid #c0b2b2;
    position:relative;
    z-index:101;
    bottom:-162px;
    padding: 27px 0 27px 0;
}
.copyright {
    margin-left: -35px;
    float:left;
    font-weight:400;
    color: #a43a3a;
}
.copyright a {
    color: #a43a3a;
}
.copyright a:hover{ 
    color: #a43a3a;
    text-decoration:none;
    background-color: white;
}


.about
{
list-style-image: url('/assets/ea-logo/ea-icon.png');
}

.map{width: 100%; height: 300px;}


.address{
    background-color: black; 
    color: white; 
    width: 100%; 
    margin-left: -31px; 
    padding: 12px 5px;
    font-family: "Myriad Pro", Myriad, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.address strong
{
    font-size:22px;
}
.address p
{
    padding-left: 31px;
}
.address .add-p
{
    padding-left: 0px;
}
.image-center{
    width:200px;
    margin:auto;
    position: relative; 
}

.image-center a img{
    height: 200px;
}
.image-center h3{
    font-family: "Myriad Pro", Myriad, Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: #000000;
    text-align: center;
}
.image-center h5{float:right; color: #000000; font-size: 14px;font-weight:bold;}

.header-center{
   color: #942601;
   text-align:center;
}

.header-center img{
   margin-right: 15px;
}

.thumbnail-tech {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
    box-shadow: none;
}

a.thumbnail-tech:hover, a.thumbnail-tech:focus {
     border-color: #cfcfcf;
     box-shadow: none;
}

.thumbnail-tech img{padding: 5px;}